* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;   
  background-color: #f0c298;
  color: #333;
  
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 20px 30px;
  
}

.fade-in-text {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  animation-delay: 0.2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-text2 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
  color: #ffffff;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-text3 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
 
  animation-delay: 0.8s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-text4 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
  
  animation-delay: 0.11s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-text5 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
  animation-delay: 1s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-text6 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
 
  animation-delay: 2.5s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
h2{
  font-size: xx-large;
}

header {
  background: #000000;
  color: #fff;
  padding: 70px 30px;
  text-align: center;
  font-size: x-large;
  
}

header h1 span {
  color: #00d8a7;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  background: #00d8a7;
  color: #fff;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 216, 167, 0.4);
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.btn:hover {
  box-shadow: 0 0 20PX RGBA(0, 216, 167, 0.8), 0 0 40PX rgba(0, 216, 167, 0.4);
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 0 10px rgba(0, 216, 167, 0.1);
}
section {
  padding: 40px 0;
}

.service-section {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: left;
}

.service {
  margin-bottom: 40px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.service-image img {
  margin-top: 100px;
  margin-bottom: 100px;
  animation: fadeIn 0.2s ease;

   width: 48.8%;
  
  border-radius: 10px;
  box-shadow: 0 8px 20x rgba(0,0,0,0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-left: 40px;
}


.service-image img:hover {
  transform: translateY(-5px);
  box-shadow: 0 14px 27px rgba(0,0,0,0.25);
}
.service-image.show {
  display: block;
}

.service-image  {
  display: flex;
  
  gap: 1%;
  margin:  -90px;
  padding: 0;

}

.toggle-btn {
  background-color: #00d8a7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.1s ease;
  position: relative;
  z-index: 1;
}

.toggle-btn:hover {
  box-shadow: 0 0 20PX RGBA(0, 216, 167, 0.8), 0 0 40PX rgba(0, 216, 167, 0.4);
  transform: scale(1.05);
}

.toggle-btn:active {
  transform: scale(0.98);
  box-shadow: 0 0 10px rgba(0, 216, 167, 0.1);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px);}
  to {opacity: 1; transform: translateY(0);}

}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 10px;
}

ul li {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

footer {
  background: #eee;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 9999 ;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);

}

.lightbox-content {
  margin: auto;
  display: block;
  width: 80%;;
  max-width: 800px;
  animation: zoomIn 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.6);
}

@keyframes zoomIn{
  from { transform: scale(0.8);
  opacity: 0;}
  to { transform: scale(1); opacity: 1;}
}

.close {
  position: absolute;
  top: 40px;
  right: 60px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;

}

.close:hover {
  color: #ccc;
}